body {
	border: 13px solid #bdc3c7;
	margin: 0 25%;
	font-family: Source Sans Pro;
}

time {
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.paddingTime {
	padding-top: 10px;
}

h2 {
	margin-left: 2%;
	font-weight: 700;
	padding-bottom: 15px;
	padding-top: 15px;
	letter-spacing: 2px;
}

.sideBorder {
	border-left: 3px solid #bdc3c7;
	margin-left: 2%;
	padding-left: 10px;

}
.bottomBorder {
	border-bottom: 1px solid rgba(189, 195, 199, 0.3);
	padding-bottom: 15px;
}

p {
	margin: 2%;
}
